# Виртуальное окружение
.venv/
venv/

# Файлы Python
__pycache__/
*.pyc

# Файлы IDE
.vscode/
.idea/

# База данных SQLite (если используется локально)
instance/
*.db
*.sqlite3

# Переменные окружения и секреты
.env
.flaskenv
google_credentials.json

# Файлы переводов (исходники)
messages.pot

# Папка для загруженных файлов
uploads/

.tmp.driveupload/

# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Other
.DS_Store
instance/