Flask
Flask-SocketIO
gunicorn
Flask-SQLAlchemy
Flask-Login
psycopg2-binary
Flask-Migrate
openai
google-generativeai==0.11.3
python-dotenv
gevent
requests
beautifulsoup4
Flask-Babel
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytz